.Background {
  position: fixed;
  background-image: url(https://d2w53g1q050m78.cloudfront.net/miwasakurame/uploads/img/bg_fixed.webp?1715086459377);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  transition: all 0.2s;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@include breakPoint(md) {
  .Background {
    background-image: unset;
  }
}
