.Goods {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: vwpc(20) vwpc(18) 0;
    gap: vwpc(20) vwpc(10);
    li {
      height: 100%;
    }
    a {
      display: block;
      height: 100%;
      border-radius: 10px;
      border: 1px solid #080404;
      background: white;
      box-shadow: vwpc(4) vwpc(4) 0px 0px rgba(0, 0, 0, 0.2);
    }
    .image {
      width: vwpc(165);
      height: vwpc(134);
      padding-top: vwpc(10);
      img {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }
    .texts {
      padding: 0 vwpc(14) vwpc(16);
      display: grid;
      gap: vwpc(4);
    }
    .subTitle {
      color: #474747;
      font-size: vwpc(10);
      font-weight: 300;
    }
    .title {
      color: #474747;
      font-size: vwpc(14);
      font-weight: 500;
      line-height: vwpc(19.6);
      height: 5ch;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    .category {
      color: #ec7490;
      font-size: vwpc(10);
      font-weight: 300;
      line-height: vwpc(14);
    }
    .price {
      color: #474747;
      font-size: vwpc(10);
      font-weight: 500;
      line-height: vwpc(14);
      letter-spacing: vwpc(1);
    }
  }
  .button {
    display: block;
    width: vwpc(124);
    height: vwpc(42);
    margin: vwpc(28) vwpc(18) 0 auto;
    img {
      width: 100%;
    }
  }
}

@include breakPoint(md) {
  .Goods {
    .list {
      margin: vwsp(20) vwsp(18) 0;
      gap: vwsp(20) vwsp(10);
      a {
        box-shadow: vwsp(4) vwsp(4) 0px 0px rgba(0, 0, 0, 0.2);
      }
      .image {
        width: vwsp(165);
        height: vwsp(134);
        padding-top: vwsp(10);
      }
      .texts {
        padding: 0 vwsp(14) vwsp(16);
        gap: vwsp(4);
      }
      .subTitle {
        font-size: vwsp(10);
      }
      .title {
        font-size: vwsp(14);
        line-height: vwsp(19.6);
      }
      .category {
        font-size: vwsp(10);
        line-height: vwsp(14);
      }
      .price {
        font-size: vwsp(10);
        line-height: vwsp(14);
        letter-spacing: vwsp(1);
      }
    }
    .button {
      width: vwsp(124);
      height: vwsp(42);
      margin: vwsp(28) vwsp(18) 0 auto;
    }
  }
}
