.Main {
  position: relative;
  background-image: url(/img/bg_fixed.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
  --color-key: #c00001;
  --color-pink: #f09199;
}
