<section class="Detail">
  <div class="wrapper dashBorder">
    <p class="description">
      『みわさくら』は、三和町で作られた『八反錦』と大土山(おおづちやま)の伏流水で作った “ド直球” 純米酒です。
      こだわりのお米『八反錦』を原料としており、お米の旨みをしっかり味わって欲しいという蔵元の気持ちから、
      精米歩合を70%にしています。
      言わば、お米を“磨きすぎない”お酒です。
      『みわさくら』は、液体を透明にするための濾過は行っていません。濾過をしないことでありのままの色である黄金色を視覚的にも楽しむことができます。
      こだわってつくられた、ありのままのみわさくらを味、色すべてでご賞味ください。
    </p>
    <a href="#" class="mt-10 block banner">
      <img src="/img/detail/bnr_episode.png" alt="教えて！みんなの#酔ゑ〜な話">
    </a>
  </div>

  <div class="wrapper dashBorder">
    <h3 class="title">
      みわさくら「純米酒」の魅力
    </h3>
    <figure class="image">
      <img src="/img/detail/img_appeal.png" alt="">
    </figure>
    <p class="text">
      広島県三次市三和町で蔵元自らお米作りをし精米まで行っています。こだわり抜いて作った、お米の味をお楽しみください。風味が違います。
    </p>
    <p class="text mt-2">
      お食事のお供に。
      素材はお米ですので、食事によく合います。
    </p>
    <p class="text mt-2">
      温度を変えて飲むと、いろいろな風味が引き立ちます。（まずは、少し温めて「人肌の温度」がおすすめです）
    </p>
  </div>

  <div class="wrapper dashBorder">
    <h3 class="title">
      ペアリング
    </h3>
    <a href="#" class="mt-10 block banner">
      <img src="/img/detail/bnr_recipe.png" alt="はったん直伝！ペアリングレシピ">
    </a>
    <p class="text mt-10">
      みわさくらのキャラクターお料理男子はったんが、公式インスタグラムにて日々更新中です。
      みわさくらのペアリングについて詳し知りたい方はみわさくらのペアリングについてもっと知りたい方は<a href="#" class="font-bold underline">こちら</a>から。
    </p>
  </div>

  <div class="wrapper dashBorder">
    <h3 class="title">
      美和桜酒造の想い
    </h3>
    <figure class="image">
      <img src="/img/detail/img_1.png" alt="">
    </figure>
    <p class="text">
      1923年に創業した広島県三次市唯一の酒造です。「手間暇かけても良い酒を」という基本姿勢と、流行に流されない酒造りを貫きます。
    </p>
    <p class="text mt-2">
      地元で作られた美味しいお米と、大土山から流れる清らかな水で作られたお酒は昔から変わらぬ味で美味しいお酒として地元の人に愛されている酒造です。
    </p>
  </div>

  <div class="wrapper dashBorder">
    <h3 class="title">
      二口目を表現したラベル
    </h3>
    <figure class="image md:max-w-[194px] max-w-[400px] mx-auto">
      <img src="/img/detail/img_2.png" alt="">
    </figure>
    <p class="text">
      純米酒ほど表情豊かな日本酒はありません。温度の違いで喜怒哀楽のように変化する味や風味、米の酒ならではの料理とのマリアージュ、私たちは、この純米酒の楽しみ方を二口目と表現しています。
    </p>
    <p class="text mt-2">
      この二口目を表現する方法として、ラベルは2層式のシール構造となっています。「化けの皮をはがす♥」と書かれた1層目のシールをめくると『みわさくら』の本当の姿が現れます。
    </p>
    <p class="text mt-2">
      二層目のラベルは全部で3種類です。
      なんが書いてあるかは買ってからのお楽しみです。
    </p>
  </div>

  <div class="wrapper">
    <h3 class="title">
      酔うために飲む「みわさくら」
    </h3>
    <figure class="image">
      <img src="/img/detail/img_3.png" alt="">
    </figure>
    <p class="text">
      親子でお酒を飲みながら日頃の感謝を伝えたい。<br>
      友達と悪ふざけして飲み明かしたい。<br>
      一人でちびちび楽しみたい。<br>
      今日の「反省会」のお供にしたい。良い時も、さんざんだった時も、<br>
      ずっと一緒に「みわさくら」。あとは、お好きなように。酔ゑ～
    </p>
  </div>
</section>