<footer class="l-footer u-color__border--border footer_bg" data-section-id="footer" data-section-type="footer-section">
  <style>
    .footer_bg {
      background: #f5f5f5;
    }

    .footer_head {
      color: #494949;
    }

    .footer_link {
      color: #9A9A9A;
    }

    .footer_body {
      color: #9A9A9A;
    }
  </style>
  <div class="l-footer__info">
    <div class="l-footer__info__store">
      <div class="l-footer__info__store__logo" style="max-width: 150px">


        <img
          src="https://d2w53g1q050m78.cloudfront.net/miwasakurame/uploads/themes/develop_20240420143238/ec_force/assets/images/RackMultipart20240325-4018-11vh8zf.png"
          alt="みわさくら">

      </div>
      <div class="l-footer__info__store__sns">

        <a class="l-footer__info__store__sns__item" href="https://www.facebook.com/miwasakura.me" target="_blank"
          rel="noopener noreferrer nofollow">
          <i class="u-icon--facebook footer_link"></i>
        </a>


        <a class="l-footer__info__store__sns__item" href="https://twitter.com/miwasakura_me" target="_blank"
          rel="noopener noreferrer nofollow">
          <i class="u-icon--twitter footer_link"></i>
        </a>


        <a class="l-footer__info__store__sns__item" href="https://www.instagram.com/miwasakura.me/" target="_blank"
          rel="noopener noreferrer nofollow">
          <i class="u-icon--instagram footer_link"></i>
        </a>


        <a class="l-footer__info__store__sns__item" href="https://lin.ee/OBS2Cvp" target="_blank"
          rel="noopener noreferrer nofollow">
          <i class="u-icon--line footer_link"></i>
        </a>

      </div>
      <div class="u-font--body footer_body">© みわさくら</div>
    </div>
  </div>
  <div class="l-footer__menu u-color__border--border">

    <div class="c-footer_menu u-color__border--border">
      <div class="c-footer_menu__title u-font--subhead footer_head">CATEGORY</div>
      <ul class="c-footer_menu__list">

        <li class="c-footer_menu__list__item">
          <a class="c-footer_menu__list__item__inner u-font--body footer_link"
            href="/shop/product_categories/3">GIFT</a>
        </li>

        <li class="c-footer_menu__list__item">
          <a class="c-footer_menu__list__item__inner u-font--body footer_link"
            href="/shop/product_categories/1">SAKE</a>
        </li>

        <li class="c-footer_menu__list__item">
          <a class="c-footer_menu__list__item__inner u-font--body footer_link"
            href="/shop/product_categories/2">GOODS</a>
        </li>

      </ul>
    </div>


    <div class="c-footer_menu u-color__border--border">
      <div class="c-footer_menu__title u-font--subhead footer_head">MEMBER</div>
      <ul class="c-footer_menu__list">

        <li class="c-footer_menu__list__item">
          <a class="c-footer_menu__list__item__inner u-font--body footer_link" href="/shop/customers/sign_up">新規会員登録</a>
        </li>


        <li class="c-footer_menu__list__item">
          <a class="c-footer_menu__list__item__inner u-font--body footer_link" href="/shop/customers/sign_in">ログイン</a>
        </li>





      </ul>
    </div>

    <div class="c-footer_menu u-color__border--border">
      <div class="c-footer_menu__title u-font--subhead footer_head">ABOUT</div>
      <ul class="c-footer_menu__list">

        <li class="c-footer_menu__list__item">
          <a class="c-footer_menu__list__item__inner u-font--body footer_link" href="/shop/base_info">当サイトについて</a>
        </li>


        <li class="c-footer_menu__list__item">
          <a class="c-footer_menu__list__item__inner u-font--body footer_link"
            href="/shop/information_categories/column">ブランドコラム</a>
        </li>


        <li class="c-footer_menu__list__item">
          <a class="c-footer_menu__list__item__inner u-font--body footer_link"
            href="/shop/information_categories/news">お知らせ</a>
        </li>




      </ul>
    </div>

    <div class="c-footer_menu u-color__border--border">
      <div class="c-footer_menu__title u-font--subhead footer_head">SERVICE</div>
      <ul class="c-footer_menu__list">

        <li class="c-footer_menu__list__item">
          <a class="c-footer_menu__list__item__inner u-font--body footer_link" href="/shop/customer_term">利用規約</a>
        </li>


        <li class="c-footer_menu__list__item">
          <a class="c-footer_menu__list__item__inner u-font--body footer_link" href="/shop/privacy">プライバシーポリシー</a>
        </li>


        <li class="c-footer_menu__list__item">
          <a class="c-footer_menu__list__item__inner u-font--body footer_link" href="/shop/law_info">特定商取引法に基づく表記</a>
        </li>


        <li class="c-footer_menu__list__item">
          <a class="c-footer_menu__list__item__inner u-font--body footer_link" href="/shop/guide">ご利用ガイド</a>
        </li>


        <li class="c-footer_menu__list__item">
          <a class="c-footer_menu__list__item__inner u-font--body footer_link" href="/shop/contact/draft">お問い合わせ</a>
        </li>


        <li class="c-footer_menu__list__item">
          <a class="c-footer_menu__list__item__inner u-font--body footer_link" href="/shop/faq">よくあるご質問</a>
        </li>

      </ul>
    </div>

  </div>
</footer>