<header class="l-header u-color__border--border logo--center Header" data-section-id="header"
  data-section-type="header-section" style="position: ">
  <style>
    .logo--left .logo__block {
      flex-grow: 1;
      padding-left: 20px;
    }

    .c-announce_bar {
      background-color: #f4899b !important;
      color: #ffffff !important;
    }

    .c-gmenu__label {
      margin-top: 5%;
    }

    .c-gmenu__sales_price {
      width: 47%;
      display: inline-block;
    }

    .c-gmenu__from_to {
      margin: 0 1px 0 1px;
    }

    .c-gmenu__container__inner__search__toggle_name {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .c-gmenu__container__inner__search__toggle_wrap {
      display: flex;
      overflow-wrap: break-word;
    }
  </style>








  <div class="c-announce_bar">
    <div class="c-announce_bar__text">初期ロット 限定3000本!</div>
    <button class="c-announce_bar__close" type="button"><i class="u-icon--close"></i></button>
  </div>




  <div class="l-header__inner">
    <div class="l-header__inner__block u-color--head" style="visibility: ">


      <div data-section-id="guest_menu" class="l-header__inner__block__item--menu">
        <button type="button">
          <span class="l-header__inner__block__link">
            <i class="u-icon--menu"></i>
          </span>
        </button>
      </div>


      <button class="l-header__inner__block__item--search" type="button">
        <span class="l-header__inner__block__link">
          <i class="u-icon--search"></i>
        </span>
      </button>
    </div>


    <h1 class="l-header__inner__block logo__block">
      <a class="l-header__inner__block__logo" href="/shop" style="max-width: 150px; pointer-events: none;">
        <img
          src="https://ec-force.s3.amazonaws.com/miwasakurame/uploads/themes/develop_20240420143238/ec_force/assets/images/RackMultipart20240504-2936-1o9krj8.svg"
          style="max-width: 150px" alt="くらくらする 初濃いの味 みわさくら【公式】">

      </a>
    </h1>

    <div class="l-header__inner__block u-color--head">


      <div class="l-header__inner__block__item" style="visibility: ">
        <a class="l-header__inner__block__link" href="/shop/customer">

          <i class="u-icon--account"></i>

        </a>
      </div>

      <nav class="l-header__inner__block__item l-header__inner__block__item--cart" style="visibility: "
        data-use-backdrop="false">
        <a class="l-header__inner__block__link" href="/shop/cart">
          <i class="u-icon--cart"></i>

          <span id="header-order-quantity" class="count u-color__bg--alert u-color__text--base">0</span>

        </a>
        <div id="cart-addition-success" class="c-tooltip" style="display:none;">
          <div class="c-tooltip__content">
            <i class="u-icon--check_circle"></i>
            <p class="c-tooltip__text">カートに商品を<br>追加しました。</p>
          </div>
        </div>
      </nav>
    </div>
  </div>


  <div class="c-gmenu">
    <div class="c-gmenu__overlay js-close-menu"></div>
    <nav class="c-gmenu__container u-color__bg--base">
      <div class="c-gmenu__container__inner">

        <ul class="c-gmenu__container__inner__list u-color__border--border">
          <li class="c-gmenu__container__inner__list__item u-color__border--border">
            <ul class="c-gmenu__container__inner__list__item__child">
              <li class="c-gmenu__container__inner__list__item__child__item">
                <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead"
                  href="/shop/customers/sign_up">
                  <span>会員登録</span>
                </a>
              </li>
              <li class="c-gmenu__container__inner__list__item__child__item">
                <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead"
                  href="/shop/customers/sign_in">
                  <span>ログイン</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="c-gmenu__container__inner__list__item u-color__border--border">
            <ul class="c-gmenu__container__inner__list__item__child">

              <li class="c-gmenu__container__inner__list__item__child__item">
                <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead" href="">

                  <span></span>

                </a>
              </li>

            </ul>
          </li>

          <li class="c-gmenu__container__inner__list__item u-color__border--border">
            <ul class="c-gmenu__container__inner__list__item__child">
              <li class="c-gmenu__container__inner__list__item__child__item">
                <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead"
                  href="/shop/contact/draft">
                  <span>お問い合わせ</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>








        <div class="c-gmenu__container__inner__list u-color__border--border">
          <div class="p-category_menu">

            <li class="p-category_menu__item p-category_menu__item--parent">
              <div class="p-category_menu__toggle">
                <a class="p-category_menu__text u-text--subhead" href="/shop/products">すべての商品</a>
              </div>
            </li>





            <li class="p-category_menu__item p-category_menu__item--parent">
              <div class="p-category_menu__toggle">
                <button class="p-category_menu__button u-text--subhead" type="button">
                  GIFT
                  <i class="u-icon--plus"></i>
                  <i class="u-icon--minus"></i>
                </button>
              </div>
              <div class="p-category_menu__collapsible">
                <ul class="p-category_menu">
                  <li class="p-category_menu__item p-category_menu__item--child">
                    <a class="p-category_menu__text u-text--body" href="/shop/product_categories/gift">
                      GIFTの全商品
                    </a>
                  </li>







                </ul>
              </div>
            </li>





            <li class="p-category_menu__item p-category_menu__item--parent">
              <div class="p-category_menu__toggle">
                <button class="p-category_menu__button u-text--subhead" type="button">
                  SAKE
                  <i class="u-icon--plus"></i>
                  <i class="u-icon--minus"></i>
                </button>
              </div>
              <div class="p-category_menu__collapsible">
                <ul class="p-category_menu">
                  <li class="p-category_menu__item p-category_menu__item--child">
                    <a class="p-category_menu__text u-text--body" href="/shop/product_categories/sake">
                      SAKEの全商品
                    </a>
                  </li>







                </ul>
              </div>
            </li>





            <li class="p-category_menu__item p-category_menu__item--parent">
              <div class="p-category_menu__toggle">
                <button class="p-category_menu__button u-text--subhead" type="button">
                  GOODS
                  <i class="u-icon--plus"></i>
                  <i class="u-icon--minus"></i>
                </button>
              </div>
              <div class="p-category_menu__collapsible">
                <ul class="p-category_menu">
                  <li class="p-category_menu__item p-category_menu__item--child">
                    <a class="p-category_menu__text u-text--body" href="/shop/product_categories/goods">
                      GOODSの全商品
                    </a>
                  </li>







                </ul>
              </div>
            </li>




          </div>
        </div>

      </div>
      <button class="c-gmenu__container__close u-color--head js-close-menu">
        <i class="u-icon--close"></i>
      </button>
    </nav>
  </div>


  <div class="p-search_menu u-text--body">
    <div class="p-search_menu__overlay js-close-menu"></div>
    <nav class="p-search_menu__container u-color__bg--base">
      <form class="p-search_menu__form" id="ec_force_product_search" action="/shop/search" accept-charset="UTF-8"
        method="get">
        <div class="p-search_menu__container__inner is-search">
          <p class="p-search_menu__container__inner__heading u-text--subhead u-font--bold">絞り込み検索</p>
          <div class="p-search_menu__container__inner__search u-color__border--border">
            <div class="p-search_menu__container__inner__search__part">
              <div class="p-search_menu__container__inner__search__part__label">
                <span class="label_title u-text--subhead u-font--bold">キーワード</span>
              </div>
              <div class="p-search_menu__container__inner__search__part__content">
                <div class="input_wrap is-text">
                  <input class="u-text--input u-color__input--bg u-color__border--input" type="search"
                    name="q[freeword]" id="q_freeword" placeholder="フリーワード" value="">
                </div>
              </div>
            </div>
            <div class="p-search_menu__container__inner__search__part">
              <div class="p-search_menu__container__inner__search__part__label">
                <span class="label_title u-text--subhead u-font--bold">カテゴリー</span>
              </div>
              <div class="p-search_menu__container__inner__search__part__content">
                <div class="custom-select-wrapper"><select id="q_products_product_categories_product_category_id_eq"
                    class="js-custom-select" name="q[products_product_categories_product_category_id_eq]"
                    placeholder="選択してください。" style="display: none;">
                    <option value="3" data-option-depth="0">GIFT</option>
                    <option value="1" data-option-depth="0">SAKE</option>
                    <option value="2" data-option-depth="0">GOODS</option>
                  </select>
                  <div class="js-custom-select"><span
                      class="u-text--input u-color__input--bg u-color__border--input custom-select-trigger">選択してください。</span>
                    <ul class="custom-options">
                      <li class="custom-option  " data-value="3">GIFT</li>
                      <li class="custom-option  " data-value="1">SAKE</li>
                      <li class="custom-option  " data-value="2">GOODS</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="p-search_menu__container__inner__search__part p-search_menu__container__inner__search__part--flex">


            </div>

          </div>
          <button type="button" class="p-search_menu__container__close u-color--head">
            <i class="u-icon--close"></i>
          </button>
          <div class="p-search_menu__container__searchbtn">
            <button name="button" class="u-color__text--base u-color__bg--sub js-gmenu-search-reset" type="button">
              <span>リセット</span>
            </button>
            <button name="button" class="u-color__text--base u-color__bg--accent js-gmenu-search-submit" type="submit">
              <span>絞り込み</span>
            </button>
          </div>
        </div>
      </form>
      <button class="p-search_menu__container__close js-close-menu">
        <i class="u-icon--close"></i>
      </button>
    </nav>
  </div>

</header>