.Marquee {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  gap: 1rem;
  font-size: vwpc(70);
  font-weight: 500;
  font-family: $mincho;
  line-height: 1;
  margin-bottom: vwpc(-5);

  .inner {
    animation: marquee 20s linear infinite;
  }

  &-pink {
    color: #ffc8cf;
  }
}

@keyframes marquee {
  0% {
    translate: 0;
  }
  100% {
    translate: calc(-100% - 1rem);
  }
}

@include breakPoint(md) {
  .Marquee {
    font-size: vwsp(70);
    margin-bottom: vwsp(-5);
  }
}
